<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="6.0.0-alpha2" targetFramework="net45" />
  <package id="Insight.Database.Configuration" version="6.0.0-alpha2" targetFramework="net45" />
  <package id="Insight.Database.Core" version="6.0.0-alpha2" targetFramework="net45" />
  <package id="Insight.Database.Providers.Default" version="6.0.0-alpha2" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
</packages>